.navbar-container {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 3rem;
	overflow: hidden;
	background-color: #7831b6;
}

.navbar-item {
	float: left;
}

.navbar-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.2s;
}

.navbar-link:hover {
	background-color: rgb(122, 184, 255);
}
